* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  width: 100%;
  height: 70px;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.nav {
  display: flex;
  gap: 30px;
}

.nav a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  transition: 0.3s;
}

.nav a:hover {
  color: gray;
}

.auth {
  display: flex;
  gap: 10px;
}

.login-btn {
  padding: 8px 16px;
  background: transparent;
  border: 1px solid white;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  text-decoration: none;
}

.register-btn {
  padding: 8px 16px;
  background: white;
  border: none;
  color: black;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
  text-decoration: none;
}

.login-btn{
  text-decoration: none;
}